body {
    background-color: rgb(242, 245, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px
}

hr {
    border: 5px solid rgb(95, 160, 222);
    width: 150px;
}

img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.buttons {
    display: flex;
}

