body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border: 5px solid rgb(95, 160, 222);
    width: 150px;
}

img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.buttons {
    display: flex;
}

